<!DOCTYPE html>
<html>
  <head>
    <title>Sala <%= sala.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sala: <%= sala.name %></h1>
    <a href="/salas">Volver</a>
    <p>ID: <%= sala.id %></p>
    <p>Capacidad: <%= sala.capacity %></p>
  </body>
</html>
