<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= title %></h1>
      <p>Bienvenidos al <%= title %></p>
      <ul>
        <li><a href="/movies">Películas</a></li>
        <li><a href="/salas">Salas</a></li>
        <li><a href="/funciones">Funciones</a></li>
        <li><a href="/ventas">Ventas</a></li>
        <li><a href="/metodos_pago">Métodos de Pago</a></li>
      </ul>
  </body>
</html>
