<!DOCTYPE html>
<html>
  <head>
    <title>Editar Método de Pago</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Editar Método de Pago</h1>
    <a href="/metodos_pago">Volver</a>
    <form action="/metodos_pago/<%= metodo.id %>/update" method="post">
      <label>Nombre: <input type="text" name="nombre" value="<%= metodo.nombre %>" required></label><br>
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
