<!DOCTYPE html>
<html>
  <head>
    <title>Nuevo Método de Pago</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nuevo Método de Pago</h1>
    <a href="/metodos_pago">Volver</a>
    <form action="/metodos_pago/create" method="post">
      <label>Nombre: <input type="text" name="nombre" required></label><br>
      <button type="submit">Crear</button>
    </form>
  </body>
</html>
