<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= title %></h1>
      <p>Bienvenidos a la página pública del Cine</p>
      <ul>
        <li><a href="/movies/last5">Últimas 5 funciones</a></li>
        <li><a href="/auth/login">Iniciar sesión</a></li>
        <li><a href="/auth/register">Registrarse</a></li>
      </ul>
  </body>
</html>